<head>
  <meta property="og:image" content="<%= url %>" />
  <meta name="twitter:card" content="summary_large_image" />
</head>

<h1>Image uploaded by <%= uploader %> on <%= date %></h1>
<img src="<%= url %>" />